apiVersion: v1
kind: Service
metadata:
  name: {{ include "vprofilecharts.fullname" . }}
  labels:
    app: {{ include "vprofilecharts.name" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      protocol: TCP
      targetPort: {{ .Values.service.port }}
  selector:
    app: {{ include "vprofilecharts.name" . }}
